#prelaoder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #181818;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anpu-logo {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    background: #5252521a;
    border-radius: 50%;
    padding: 24px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.anpu-logo_image{
	width: 450px;
	height: 450px;
}

main {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    text-align: center;
    line-height: .6rem;
}

h3 {
    font-size: 2.6rem;
}
pre {
    font-size: 2rem;
}